.p1{
    color: magenta;
    font-weight: 100;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: solid;
    line-height: 40px;
    letter-spacing: 20px;
}